
<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><span>Dance</span>Studio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about"    routerLinkActive="active-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="portfolio"   routerLinkActive="active-link">COLLECTIONS</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="Payment"   routerLinkActive="active-link">payment</a>
          </li> -->

<!--dropdown-->
<!--<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        DROPDOWN
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
  </ul>
</div>-->




<!-- end-->
          <li class="nav-item">
            <a class="nav-link " routerLink="contact"   routerLinkActive="active-link">CONTACT</a>
          </li>
<!---->
<!-- <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" >
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../assets/images/login.jpg" class="img-fluid" alt="..." height="25" width="25">
      </button>
      <ul class="dropdown-menu  " >
        <li><a class="dropdown-item" routerLink="register" routerLinkactive="active-link">Enroll 2023</a></li>
        <li><a class="dropdown-item" routerLink="login" routerLinkactive="active-link">Login</a></li>
        <li><a class="dropdown-item" routerLink="signup" routerLinkactive="active-link">Sign Up</a></li>
      </ul>
    </li>
  </ul>
</div> -->
<li class="nav-item">
  <a class="nav-link " routerLink="login" routerLinkActive="active-link"><i class="bi bi-person-fill"></i>LOGIN</a>
</li>
<li class="nav-item">
  <a class="nav-link " routerLink="logOut" routerLinkActive="active-link">LOGOUT</a>
</li>


  
          <!----->
        </ul>
      </div>
    </div>
  </nav>


 

