<div class="container mt-5 mb-5">

    







  
    <h1>CONTACT US</h1>
    <p>*Please fill in the details below and our team will get back to you shortly.</p>
    <form class="col-lg-8">
        <div class="row">
            

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" [(ngModel)]="fname" name="fname"  class="form-control" placeholder="Enter First Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text"[(ngModel)]="lname" name="name" class="form-control" placeholder="Enter Last Name">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" [(ngModel)]="ename" name="email"class="form-control" placeholder="Enter Email ID">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text"[(ngModel)]="phone" name="phone" class="form-control" placeholder="Enter Mobile Number">
        </div>

        
          <div class="col-lg-12 mt-2 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea  [(ngModel)]="message" name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"    placeholder="Message"></textarea>
          </div>




        <div class="col-lg-12">
            <button class="btn btn-md btn-dark" (click)="contact()">Submit</button>

          
              






    </div>
    </div>
    </form>
    <br><br><br><br><br>
      <!--Google map-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251482.7098221955!2d76.16084684787937!3d9.98234276321337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1678385864422!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  <!--Google Maps-->
</div>
