<!--<h1>Gallery</h1>
<div class="row">
    <div class="column">
      <img src="../../../assets/images/img002.jpg" alt="dance" style="width:100%">
    </div>
    <div class="column">
      <img src="../../../assets/images/img004.jpg" alt="dance" style="width:100%">
    </div>
    <div class="column">
      <img src="../../../assets/images/img006.jpg" alt="dance" style="width:100%">
    </div>
  </div>


  <div class="row">
    <div class="column">
      <img src="../../../assets/images/img007.jpg" alt="dance" style="width:100%">
    </div>
    <div class="column">
      <img src="../../../assets/images/img003.jpg" alt="dance" style="width:100%">;
    </div>
    <div class="column">
      <img src="../../../assets/images/dancee.jpg" alt="dance" style="width:100%">
    </div>
  </div>

  <h1> our studio</h1>

  <div class="row">
    <div class="column">
      <img src="../../../assets/images/img007.jpg" alt="dance" style="width:100%">
    </div>
    <div class="column">
      <img src="../../../assets/images/img003.jpg" alt="dance" style="width:100%">
    </div>
    <div class="column">
      <img src="../../../assets/images/dancee.jpg" alt="dance" style="width:100%">
    </div>
  </div>
-->

<!-- Gallery -->

<h1>Gallery</h1>
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="../../../assets/images/img003.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="dance"
    />

    <img
      src="../../../assets/images/img005.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="dance"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="../../../assets/images/william-white-cF6fz9QwfrY-unsplash.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="dance free"
    />

    <img
      src="../../../assets/images/kazuo-ota-rLWKOJaZISU-unsplash.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="belle"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="../../../assets/images/classicalimg2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="classical"
    />

    <img
      src="../../../assets/images/saksham-gangwar-wWiEThMgY94-unsplash.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->


<!--ourstudio-->
<h1>Our Studio</h1>
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="../../../assets/images/studioimg1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="dance"
    />

    <img
      src="../../../assets/images/georgia-de-lotz-JsQ6K5CfJ7s-unsplash.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="dance"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="../../../assets/images/studioimg2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="dance free"
    />

    <img
      src="../../../assets/images/artem-bryzgalov-xlUSyvkXnho-unsplash.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="belle"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="../../../assets/images/studioimg3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="classical"
    />

    <img
      src="../../../assets/images/damir-kopezhanov-emm1EBmBoj0-unsplash.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!---ourstudio-->