<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <!-- carousel -->
                    <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img height="700" width="700" src="../../../assets/images/aleksandr-popov-g-IR3UM2v7M-unsplash.jpg" class="d-block w-100" alt="...">

                          </div>
                          <div class="carousel-item">
                            <img height="700" width="700" src="../../../assets/images/belliegroup.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img height="700"  width="700" src="../../../assets/images/artem-bryzgalov-xlUSyvkXnho-unsplash.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                      </div> -->
 <section class="home"> 
     <img src="../../../assets/images/3a9de5b1-main-image.png" width="662" height="1023"> 


    <!--<div class="homecontent">
        <h1>Let's dance</h1>
        <a href="src\app\pages\register-pages\register-pages.component.html                                                                                     " class="btn btn-lg btn-primary">register now</a>
    </div>-->

  <!--  <div class="step">
        <h1>Welcome to DanceStudio!</h1>

        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere id excepturi iusto alias ipsa autem officiis dolores blanditiis laboriosam suscipit officia hic consectetur, distinctio, delectus, aspernatur accusamus. Rerum, aliquam eius.</p>


       
    </div>
-->
<div class="homecontent">
       <h2><span>Let's</span>
                   <br><pre>            DANCE</pre></h2>
                   
                   <a routerLink="/register" class="btn btn-dark" role="button">ApplyNow</a>
                  
                 
                  
</div>
<!--<div class="button">-->
<!--<button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark">Apply Now</button>-->
<!--<button type="button" class="btn btn-dark">ApplyNow</button>-->
<!-- </div> -->
 </section> 
</div>
</div>
</div>
</div>
</div>


<!-- <a href="login" routerLinkactive="active-link">Login</a> -->